:root{

    /* nh colors dark */

    --nh-color-background-0: rgb(38, 31, 43);
    --nh-color-background-1: rgb(50, 43, 55);
    --nh-color-background-2: rgb(67, 58, 74);

    --nh-color-font-0: rgb(249 249 250);
    --nh-color-font-1: rgb(223 222 223);
    --nh-color-font-2: rgb(187 185 189);

    --nh-color-primary-950: rgb(250 248 255);
    --nh-color-primary-900: rgb(240 233 255);
    --nh-color-primary-800: rgb(228 216 255);
    --nh-color-primary-700: rgb(215 198 255);
    --nh-color-primary-600: rgb(197 173 255);
    --nh-color-primary-500: rgb(174 140 255);
    --nh-color-primary-400: rgb(148 102 255);
    --nh-color-primary-300: rgb(122 78 225);
    --nh-color-primary-200: rgb(101 64 186);
    --nh-color-primary-100: rgb(72 46 133);
    --nh-color-primary-50: rgb(44 28 82);

    --nh-color-success-950: rgb(242 255 210);
    --nh-color-success-900: rgb(204 253 87);
    --nh-color-success-800: rgb(191 238 82);
    --nh-color-success-700: rgb(178 222 76);
    --nh-color-success-600: rgb(160 199 69);
    --nh-color-success-500: rgb(138 171 59);
    --nh-color-success-400: rgb(114 142 49);
    --nh-color-success-300: rgb(93 116 40);
    --nh-color-success-200: rgb(77 96 33);
    --nh-color-success-100: rgb(55 68 23);
    --nh-color-success-50: rgb(34 42 14);

    --nh-color-neutral-950: rgb(250 249 251);
    --nh-color-neutral-900: rgb(237 235 241);
    --nh-color-neutral-800: rgb(223 221 230);
    --nh-color-neutral-700: rgb(209 205 218);
    --nh-color-neutral-600: rgb(189 183 202);
    --nh-color-neutral-500: rgb(164 156 182);
    --nh-color-neutral-400: rgb(136 128 154);
    --nh-color-neutral-300: rgb(111 105 126);
    --nh-color-neutral-200: rgb(92 86 104);
    --nh-color-neutral-100: rgb(65 61 74);
    --nh-color-neutral-50: rgb(40 38 45);

    --nh-color-danger-950: rgb(255 248 249);
    --nh-color-danger-900: rgb(255 230 235);
    --nh-color-danger-800: rgb(255 211 220);
    --nh-color-danger-700: rgb(255 189 202);
    --nh-color-danger-600: rgb(255 158 177);
    --nh-color-danger-500: rgb(255 113 141);
    --nh-color-danger-400: rgb(227 78 108);
    --nh-color-danger-300: rgb(187 65 89);
    --nh-color-danger-200: rgb(155 53 73);
    --nh-color-danger-100: rgb(111 38 52);
    --nh-color-danger-50: rgb(69 24 33);

}